[2015-08-31 17:26] rmarianski opened #1 "serve requests for custom (multi) layers more efficiently"
Instead of issuing queries for custom layers, we can instead check the s3 cache to see if a particular tile exists, and then filter out the relevant layers to serve the response.

[2015-09-28 06:07] #1 closed, assigned to nobody

[2015-09-28 20:48] rmarianski opened #4 "Always query for all layer data"
Some of the post processing transform steps can dynamically create layers, and have implicit dependencies on source layer data to be present. To keep things simple, we should always get the query data for all layers, regardless of the request, and just prune the list of layers afterwards as necessary.

[2015-11-02 12:54] silviucm opened #6 "multi-threded operation in tileserver"
Hello,

Just playing around with tileserver as a hobby on the home pc, and I noticed the server spawned by the werkzeug libraries chokes heavily on a single cpu core, while trying to hit the postgis database and render them as json tiles, etc

I wonder whether it would generally benefit if you allow the threaded parameter be read from config.yaml

1) Slightly modify the constructor adding threaded

[2015-11-02 15:40] rmarianski commented on #6
Sure, that seems reasonable to me. Do you mind submitting a pull request?

[2015-11-02 17:23] silviucm commented on #6
will take a stab at it when I get home, cheers

[2015-11-03 19:32] nvkelso commented on #6
Closed via PR #7

[2015-11-03 19:32] #6 closed, assigned to nobody

[2015-12-15 18:03] nvkelso commented on #4
How do we verify this one?

[2015-12-15 18:43] zerebubuth commented on #4
We can query for a layer which depends on another - for example roads being intercut with landuse - for a tile which doesn't yet exist. The previous behaviour was to fetch the "all layers" tile if it existed, but query only the requested layers if it didn't. The behaviour now is to always query all layers.

To test:
1. Find a tile which hasn't already been rendered, which has a road going through

[2015-12-17 18:36] zerebubuth commented on #4
Verified again, this time with tile 18/88824/141101.

[2015-12-17 19:05] rmarianski commented on #4
Verified with: 15/9629/12316.

[2016-01-08 17:24] #4 closed, assigned to zerebubuth

[2016-01-08 18:29] nvkelso opened #12 "Start meta-tiling at zoom 16 (from 18)"
- https://github.com/mapzen/tileserver/blob/c60fb611fa1de31fe45dcf2b5bc9a3c7f00762e5/tileserver/__init__.py#L302-L323

[2016-01-08 23:59] nvkelso commented on #12
Links up with: https://github.com/mapzen/vector-datasource/issues/478

[2016-02-09 11:28] lechembal opened #15 "table missing in the postgresql database"
hello everyone,

I am just starting and I want to install the mapzen tileserver on my raspberry pi 2.
I have folllowed the process described on the mapzen tileserver  Wiki .
At the end, when starting my server locally, and typing  this request( http://localhost:8080/all/16/19293/24641.json), still have the same error   "**ProgrammingError: column "mz_transit_level" does not exist LINE 26: AND mz_t

[2016-02-09 13:16] zerebubuth commented on #15
Hi!

Wow, Map-Pi, that's cool :smile:

The `mz_transit_level` column is added by [this SQL file](https://github.com/mapzen/vector-datasource/blob/master/data/apply-planet_osm_line.sql#L9), which should have been run as part of [perform-sql-updates.sh](https://github.com/mapzen/vector-datasource/blob/master/data/perform-sql-updates.sh), when loading additional data as [part of the install](https://

[2016-02-09 14:52] lechembal commented on #15
thanks zerebubuth for your help, your command  is working but now I have different errors when I start the script perform-sql-updates.sh.
for example  I have the following error when updating the database :  E**RROR column "mz_poi_min_zoom" of relation "planet_osm_point" already exists**
the matter is that the server return the same error as the one on my first post; but about mz_poi_min_zoom

[2016-02-09 15:00] zerebubuth commented on #15
Ah. There's also a `mz_poi_min_zoom` in [planet_osm_polygon](https://github.com/mapzen/vector-datasource/blob/master/data/apply-planet_osm_polygon.sql), perhaps it's that one which is giving the error? Please try running:

[code]

And see if that fixes the problem.

[2016-02-09 15:32] lechembal commented on #15
yes sorry to disturb you again , in fact I thinkthe first error is coming from the functions.sql file
**ERROR: column "inception" does not exists**

[2016-02-09 15:46] zerebubuth commented on #15
That's odd... The `inception` column of the `wof_neighbourhood` table is added [when the table is created](https://github.com/mapzen/vector-datasource/blob/master/data/wof-schema.sql#L21). Are you using a particular version or tag of vector-datasource, or the master branch?

You could try running:

[code]

That might print out a bunch of "does not exist" messages, which are safe to ignore. Then ru

[2016-02-09 21:08] rmarianski commented on #15
The database was probably created from the snapshot that we have on s3. I bet that doesn't have the inception stuff in there. We should probably just put up a new snapshot, and automate creating it on a regular basis.

[2016-02-10 09:46] zerebubuth commented on #15
@rmarianski that's a good point. I think you're right. I've added mapzen/vector-datasource#518 to track this and discuss what the appropriate solution is.

[2016-02-10 19:12] nvkelso commented on #15
@lechembal Can you confirm your configuration is working now, please?

[2016-02-11 08:20] lechembal commented on #15
Hello,
It's Still not working, I am planning to restart all the configuration from
scratch.
I Will tell u this afternoon if it's working

Sincerely
Le 10 févr. 2016 20:12, "Nathaniel V. KELSO" notifications@github.com a
écrit :

[2016-02-12 19:37] nvkelso commented on #12
We do need to communicate this to developers.

[2016-02-12 19:39] nvkelso commented on #12
We'll also need to update Eraser Map, Skin & Bones, etc.

[2016-02-19 23:23] divya1c opened #16 "Unknown WKB type 49"
Hi!

I get this error and backtrace when I try requesting tiles from my mapzen tile server.

127.0.0.1 - - [19/Feb/2016 15:13:17] "GET /all/15/9644/12322.json HTTP/1.1" 500 -
Traceback (most recent call last):
  File "/Users/divya/Documents/oneconcern/Vector-tile-server/Mapzen/tileserver/tileserver/**init**.py", line 187, in **call**
    response = self.handle_request(request)
  File "/Users/divya

[2016-02-20 00:00] divya1c commented on #16
Fixed it by selecting ST_AsBinary(geom) in the query.

[2016-02-20 00:00] #16 closed, assigned to nobody

[2016-02-26 12:50] nvkelso commented on #12
Cartography files are updated. Dev communication in progress.

[2016-03-08 21:24] #12 closed, assigned to nvkelso

[2016-07-08 16:34] songololo opened #29 "error trying to start tileserver - ImportError: cannot import name on_invalid_geometry_make_valid"
I am getting this error when attempting to start tilserver:

I get this when using git tags 0.5.0, 0.5.1, 0.6.1 and on Ubuntu 14.04 and 16.04

[code]

Is this a circular dependency of some sort?

Thanks.

[2016-07-08 18:10] rmarianski commented on #29
Looks like it's expecting a new version of mapbox-vector-tile. Can you try using mapbox-vector-tile 0.3.0?

[2016-07-08 22:25] songololo commented on #29
I'm explicitly installing map box vector tile via pip, which uses version 0.3.0, and still seem to be getting the error.

Here are my build steps:

[code]

[2016-07-08 22:49] songololo commented on #29
It seems that `setup.py` installs `mapbox-vector-tile v0.0.11`.

If I upgrade `mapbox-vector-tile` after running setup.py then it upgrades the following:

[code]

However, the error still occurs.

[2016-07-11 15:19] rmarianski commented on #29
Sorry, I was too hasty in my response. Seems like that function doesn't actually exist in that tag. Can you try mapbox-vector-tile master?

If that works for you and you'd prefer to point to a tag, I can push out what's currently on master to a new 0.4.0 release.

[2016-07-12 14:57] songololo commented on #29
Thanks, what ended up working in the end was cloning and running setup.py on the master branch for each of these (in this order)
1) tilserver,
2) mapbox-vector-tile,
3) tilequeue

[2016-07-12 14:57] #29 closed, assigned to nobody

[2016-07-12 15:10] rmarianski commented on #29
Great! Glad to hear it works for you and sorry for the confusion. Let us know if you want us to release a new tag.

[2016-07-12 16:07] songololo opened #30 "No 'Access-Control-Allow-Origin' header is present on the requested resource."
Is there a way to set the access control headers for tileserver?

I am getting these errors:
`No 'Access-Control-Allow-Origin' header is present on the requested resource.`

[2016-07-12 18:01] rmarianski commented on #30
There isn't at the moment, no. We usually have another server in front of tileserver that always adds those headers into the response. Is it possible for you to add nginx in front to add those headers in?

[2016-07-13 19:04] rmarianski commented on #30
We've added a cors configuration option to the config file. Can you try the master branch with `cors: true` configured at the top level?

[2016-07-13 21:55] songololo commented on #30
Thanks! Works now.

[2016-07-13 21:55] #30 closed, assigned to rmarianski

[2016-07-13 22:04] songololo opened #32 "Is there a default SRID?"
I'm wondering if there is a default SRID assumed for the underlying queries (bounding boxes etc?) And somewhat related, whether there is documentation available for the queries and template files?

I am trying a basic setup including a `queries.yaml` file as such:

[code]

And a corresponding `poly.jinja2` file as follows:

[code]

I've tried this on a table with geometry represented in SRID 4326,

[2016-07-13 22:13] rmarianski commented on #32
3857 is assumed. Can you try running the exact same query yourself to see if you get results?

[2016-08-22 07:41] nvkelso opened #37 "Add generate script"
To preseed tiles in a given area, similar to https://github.com/tilezen/joerd/blob/master/scripts/generate.py or TileStache seed.

[2016-08-30 22:18] rmarianski commented on #37
imho tilequeue is better suited for this because it already does offline processing. Currently, this is possible with the `seed` and `process` commands, but we can add a new command to make it easier if we think there's a common use case for this, maybe matching the TileStache options.

[2016-09-12 12:29] ivangorelow opened #39 "init.py"
I have errors in scrypt init.py:

`Traceback (most recent call last):
  File "/home/user01/tileserver/tileserver/__init__.py", line 195, in __call__
    response = self.handle_request(request)
  File "/home/user01/tileserver/tileserver/__init__.py", line 290, in handle_request
    coord, self.layer_config.all_layers)
  File "/usr/local/lib/python2.7/dist-packages/tilequeue/query.py", line 206, in

[2016-09-13 14:54] rmarianski commented on #39
This looks like the database updates didn't get applied. I'd suggest starting with a fresh database and following the [data import steps](https://github.com/tilezen/vector-datasource/wiki/Mapzen-Vector-Tile-Service#set-up-database) in the wiki again.

[2016-09-14 16:38] nvkelso opened #40 "[release] Bump version up to v1.0.0"

[2016-09-14 16:50] nvkelso opened #41 "Republish tilejson on dev"
And update the deploy checklist docs

[2016-09-14 17:04] nvkelso commented on #41
This issue was moved to mapzen/tile-tasks#98

[2016-09-14 17:04] #41 closed, assigned to nobody

[2016-09-16 06:56] oongkung opened #42 "ERROR when run __init__.py"
root@mapsapi:~/tileserver# python tileserver/**init**.py config.yaml
Traceback (most recent call last):
  File "tileserver/**init**.py", line 546, in <module>
    tile_server = create_tileserver_from_config(config)
  File "tileserver/**init**.py", line 475, in create_tileserver_from_config
    os.path.dirname(queries_config_path))
  File "/usr/local/lib/python2.7/dist-packages/tilequeue/command.py

[2016-09-16 07:32] nvkelso commented on #42
Please try the install walk through:
https://github.com/tilezen/vector-datasource/wiki/Mapzen-Vector-Tile-Service

Sounds like you need to install all 3 project components (and are currently missing one).

_n

[2016-09-16 07:49] oongkung commented on #42
I installed all 3 project through:
https://github.com/tilezen/vector-datasource/wiki/Mapzen-Vector-Tile-Service
and got this error.

this is my file list
root@mapsapi:~# ls
env                  new-york_new-york.osm.pbf  tilequeue-config.yaml  tileserver.egg-info  vector_datasource.egg-info
logging.conf.sample  tilequeue                  tileserver             vector-datasource    wof_neighbourhoo

[2016-09-16 12:00] rmarianski commented on #42
Try running `python setup.py develop` from the vector-datasource directory.

[2016-09-19 21:35] nvkelso commented on #15
Closing this old issue as we think we fixed it. Please reopen or create a new issue if you run into the problem again.

[2016-09-19 21:35] #15 closed, assigned to nobody

[2016-10-02 14:47] musicformellons commented on #42
I had same problem. It is not documented that you should also install pyaml, then error will go. I made an issue to address this this weekend.

[2016-10-02 14:54] musicformellons opened #44 "settings for multiple vector tile sources"
I am looking at how to combine multiple vector tile files. Could you explain what settings are needed to have a single entry point containing vector tile data of both (or multiple) sources?

[2016-10-02 14:57] nvkelso commented on #44
You mean like the "all" alias that the Mapzen be Tor tile service uses? That's controlled in the main config.yaml file in vector-datasource.

[2016-10-02 17:17] musicformellons commented on #44
I am not sure I understand, so I will try to be more specific. I would like to use Mapzen vector-datasource (mvt) tiles and combine these with an extra custom layer in vector tile (mvt) format which consists of points (actually a large geojson file converted into mbtiles). I use mapbox-gl-js and there I find (this is mapbox-gl but at mapbox-gl-js they reference to this, so it applies to both):
htt

[2016-10-02 17:24] musicformellons commented on #44
Could it be you mean this 'all' in vector-datasource/**queries**.yaml ?

all:
- water
- earth
- places
- landuse
- roads
- buildings
- pois
- boundaries
- transit

[2016-10-02 17:32] musicformellons commented on #44
These guys make it look easy:
https://github.com/osm2vectortiles/osm2vectortiles/issues/26

stating: "vector tiles are designed in a way which supports merging by direct binary concatenation."

[2016-10-02 18:26] nvkelso commented on #44
Oops, I had a weird auto correct about Tor in my last comment! I meant to say Mapzen vector tiles.

We use tilezen/tileserver for decomposition:

https://github.com/tilezen/tileserver/blob/master/tileserver/__init__.py

It listens for requests to for certain layers - if a layer other than "all" is asked for them we'll peal out just those layers to return in the response (which is comparable with o

[2016-10-03 09:32] musicformellons commented on #44
Thanks. That would be a useful feature to add I think.

[2016-10-03 17:02] rmarianski commented on #42
pyyaml is listed in setup.py and the requirements file. I updated the getting started instructions to run setup.py develop from within the same directory.

[2016-10-03 17:53] #42 closed, assigned to nobody

[2016-10-14 05:16] #40 closed, assigned to nobody

[2016-10-27 13:34] rmarianski opened #46 "Remove custom layer handling logic"
Custom layer handling logic is done by [xonacatl](https://github.com/tilezen/xonacatl) now.

[2016-10-27 15:50] nvkelso commented on #46
We'll also need to document in the vector-datasource wiki how to run Xonacatl locally along side tileserver.

[2016-11-08 14:43] rmarianski opened #47 "Enforce max zoom"
Some requests for high zooms [1] end up producing overflows and generate errors [2]. Can we start enforcing a max zoom, and return 404s for zooms higher than that?

@nvkelso what would be reasonable? 20? 25?

[1] https://tile.mapzen.com/mapzen/vector/v1/all/9999/1/1.json
[2]
[code]

[2016-11-08 16:40] zerebubuth opened #48 "Handle SIGTERM gracefully"
Upon receiving SIGTERM, tileserver should:

1. Start responding to health check requests with an error.
2. Wait a configurable grace period, or until all outstanding requests have finished.
3. Shut down.

This allows tileserver to work with [ELB connection draining](http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-conn-drain.html) or HAProxy to terminate while not dropping any

[2016-11-08 16:41] nvkelso commented on #47
20

That's the max zoom we set in Leaflet for house styles and usage on 20 is very low:

https://cloud.githubusercontent.com/assets/853051/20083180/a9ebc9a4-a50f-11e6-9884-59a6f03b8c9b.png

[2016-11-08 16:42] nvkelso commented on #47
(If someday we did indoor mapping tiles this might change, but overstuffing a zoom 18 or 20 tile would probably be fine.)

[2016-11-08 16:53] rmarianski commented on #48
This is a good idea. On the one hand we can avoid this by rolling in new instances, but on the other, it's much easier to just run a deploy command in opsworks.

It might be worth considering pushing the scope of this problem outside into an opsworks tools that rolls in the deploy for us. That way it's solved for any service in an opsworks layer. Or, maybe there's a way to not require to roll in d

[2016-11-08 17:04] zerebubuth commented on #48
I think both mechanisms would be good to have.

Rolling the deploy requires outside tooling, which is great for anything which is compatible with that. But  I wouldn't be confident that it covers 100% of all cases that the service could be stopped. Handling SIGTERM internally is then a safety net in those (hopefully rare) cases that tileserver is stopped outside of a rolling deploy.

[2016-11-08 17:07] rmarianski commented on #48
From @iandees, http://docs.aws.amazon.com/opsworks/latest/userguide/best-deploy.html#best-deploy-rolling

[2016-11-08 17:28] rmarianski commented on #48
Just curious, what kind of cases would this be?

[2016-11-10 11:07] pnorman opened #49 "Python versions"
What python versions are supported?

[2016-11-10 11:28] pnorman opened #51 "Add tileserver to pypi"
Is it possible to add tileserver to pypi? I could take this on, but would much rather a maintainer does so.

[2016-11-10 12:46] zerebubuth commented on #49
We use 2.7. I've personally tested with 2.7.6 and 2.7.12, but I think all 2.7.x versions should work.

I don't know if other versions would work out of the box, but I suspect not. I think we'd be interested in making it work for Py3, as long as the changes weren't too invasive. I don't know about 2.6 - @rmarianski, @iandees what do you think?

[2016-11-10 13:53] iandees commented on #49
I don't think we do anything that would make supporting 3.x hard, but it would be some work. I bet we'd review/merge a PR to do it 😄 .

[2016-11-10 13:54] iandees commented on #49
I'd say we should document that we use Python 2.7.x and go from there.

[2016-11-10 14:29] rmarianski commented on #49
:+1:

[2016-11-10 15:22] rmarianski commented on #51
Yes, we discussed this a little bit before but opted to wait until somebody asked for it, and here we are :)

It'll imply that all dependent packages are also on pypi, which from a cursory glance looks to be just [tilequeue](https://github.com/tilezen/tilequeue). The work there should mostly be just writing a readme to describe how that might be used.

Longer term it might make more sense to split

[2016-11-10 15:40] nvkelso commented on #51
Pub now, file an issue to split it up for a rainy day.

[2016-11-10 19:51] pnorman commented on #49
fwiw, 3.5 doesn't work with a failure in installing the requirements.

[2016-11-10 19:53] pnorman commented on #51
👍 to pub now, 2.0 can be a split if desired.

What does this consist of?

[2016-11-11 15:56] rmarianski commented on #51
Managing the tile processing pipeline we have on running on aws, eg sqs, redis, s3.

[2016-11-22 19:18] nvkelso opened #53 "Add tapalcatl support"
Store file format results as ZIP.

See: https://github.com/tilezen/tapalcatl

[2016-12-15 00:09] nvkelso commented on #53
This was completed in https://github.com/tilezen/tileserver/pull/55.

[2017-01-11 17:43] #53 closed, assigned to zerebubuth

[2017-01-11 17:51] rmarianski opened #58 "Remove reading from store logic"
With the new tapalcatl and xonacatl microservices in place, the logic in tileserver to try and read the json format from s3 should be removed.

[2017-02-14 19:09] nvkelso opened #64 "Cut zoom content for 17+ requests from z16 tiles"
Instead of doing a fresh DB request for the zoom 17+ tile bounds, we should get the parent zoom 15 ~~16~~ tile and from it cut the zoom 16+ ~~17+~~ content (since 2x2 metafiles at 512px size are starting to be a thing).

[2017-02-14 19:09] nvkelso commented on #58
Related: https://github.com/tilezen/tileserver/issues/64

[2017-03-01 20:37] zerebubuth opened #70 "Be more resilient to storage errors"
While S3 was down, we failed a bunch of requests because [we try to read the tile from S3](https://github.com/tilezen/tileserver/blob/280996df0e4a938d278686bde31fbb8eca0d9038/tileserver/__init__.py#L333) as a short-cut before querying it from the database. Unfortunately, there are many things that can go wrong with fetching a tile over the network.

I've grabbed a selection of errors from the logs

[2017-03-07 08:05] hriad opened #75 "Could not run v1.3.0"
Hello,
I've followed the install instructions located [here](https://github.com/tilezen/vector-datasource/wiki/Mapzen-Vector-Tile-Service)

However when trying to run tileserver I get the following error:

  File "tileserver/__init__.py", line 19, in <module>
    from tilequeue.metatile import make_single_metatile, extract_metatile
ImportError: cannot import name make_single_metatile

I didn't get

[2017-03-07 08:22] nvkelso commented on #75
vector-datasource `v1.1.0` requires: tileserver `v1.3.0` and tilequeue `v1.4.0` and mapbox-vector-tile `v1.0.0`. You'll need to ensure your checkout is to that specific git tag (not master which is default).

[2017-03-07 08:23] hriad commented on #75
Yes I made sure to checkout the correct releases as per vector-datasource release notes

[2017-03-07 08:36] hriad commented on #75
I just redid the whole thing, and made sure to checkout the correct releases. Yet I get the same result. Interestingly, If I follow the install steps but run off master instead of the tagged releases, tileserver is able to start just fine.

[2017-03-07 09:44] zerebubuth commented on #75
The `make_single_metatile` function was [recently removed](https://github.com/tilezen/tilequeue/pull/163) from tilequeue, although it is [present in the v1.4.0 release](https://github.com/tilezen/tilequeue/blob/v1.4.0/tilequeue/metatile.py#L8). Sometimes I find that `pip` installs multiple versions of libraries in my virtualenv and uses a different version than I expected. From time to time I have

[2017-03-07 10:21] hriad commented on #75
I tried with a clean virtualenv, but got the same result. However your comment got me in the right direction. Specifying `tilequeue@v1.4.0` instead of `tilequeue@master` in requirements.txt did the trick for me. Now tileserver is working!

[2017-03-07 10:32] zerebubuth opened #76 "Should we specify fixed versions in tagged releases?"
We currently specify the master branch for tilezen software dependencies in [`requirements.txt`](https://github.com/tilezen/tileserver/blob/3b8d7df88e641a6aa1c561f1c6b3009fc8e37667/requirements.txt#L25-L26), although we specify fixed, non-master versions in the [vector-datasource release notes](https://github.com/tilezen/vector-datasource/releases/tag/v1.1.0). This is confusing, since [the install

[2017-03-07 10:34] zerebubuth commented on #75
Glad to hear it, and sorry about the confusion!

I've added a follow-up issue in #76 to figure out whether it's better to fix this in `requirements.txt` or the installation instructions.

[2017-03-07 10:34] #75 closed, assigned to nobody

[2017-03-07 11:27] pnorman commented on #76
👍 to changing requirements.txt

[2017-03-07 20:50] nvkelso commented on #76
+1 This keeps coming up in GH support issues.

On Tue, Mar 7, 2017 at 3:27 AM, Paul Norman <notifications@github.com>
wrote:

[2017-03-14 18:32] rmarianski commented on #64
Related to https://github.com/mapzen/tile-tasks/issues/189

[2017-03-14 18:54] nvkelso commented on #46
We deferred Xonacatl in prod, so this is lower priority / blocked now.

[2017-03-22 04:01] Martinlck opened #80 "Not returning all information like roads, buildings, etc"
Hello I have successfully setup the tile server and imported the data from the docs, but when I run it against a javascript client the information that I receive from the endpoint does not contain streets or anything so my app draws an incomplete map.
Do you have any idea why this would be happening? Am I doing something wrong?
Thanks.

[2017-03-22 04:09] nvkelso commented on #80
Hi @Martinlck Did you follow the instructions on https://github.com/tilezen/vector-datasource/wiki/Mapzen-Vector-Tile-Service?

That wiki exercise will load an extract for New York city, United States. Are you testing valid tiles inside that New York city bounding box? Do any other layers draw? (And Tilezen calls them roads not streets.)

[2017-03-22 04:12] Martinlck commented on #80
Hi @nvkelso  I did follow up all the instructions, sorry for the wrong wording, yes roads, I only get to see major roads, but when I zoom in, the small roads are not being shown and there is some missing things so the map looks incomplete, actually the only layer that I get a response from is for points of interest, the other ones are empty. I am testing valid tiles inside the new york city.

[2017-03-22 04:49] nvkelso commented on #80
Can you provide a screenshot, please? Is there a public testing URL I can look at, or baring that a GeoJSON tile you can attach to this issue?

[2017-03-22 04:50] nvkelso commented on #80
Did you make sure to checkout the specific tags in each of the repos rather than using master?

[2017-03-22 04:52] Martinlck commented on #80
@nvkelso Hmm I think I used master, that might be the cause of the problem, let me try re-doing it again and if I still have the problem I will share with you a screenshot and a public testing URL.

[2017-03-22 04:58] nvkelso commented on #80
Looks like it's:

- https://github.com/tilezen/vector-datasource/releases/tag/v1.1.0
- Requires: tileserver v1.3.0 and tilequeue v1.4.0 and mapbox-vector-tile v1.0.0.

[2017-03-22 06:02] mattscamp commented on #80
Hey @nvkelso . I just made sure all versions are in sync, but the issue is still there. Attached is an image of the area and response eg.

![screen shot 2560-03-22 at 12 54 12 pm](https://cloud.githubusercontent.com/assets/2180254/24184090/cb1ab74e-0efe-11e7-9292-ded05f90bef1.png)

I then ran a query to see how many buildings are within a small area of this. (0.001 degrees)
<img width="380" alt="s

[2017-03-22 06:25] nvkelso commented on #80
I see what you mean! Is the same true when you zoom out? Can you count the
lines with highway tags in your DB to make sure they imported correctly?

On Tue, Mar 21, 2017 at 11:02 PM, Matt Camp <notifications@github.com>
wrote:

[2017-03-22 06:32] mattscamp commented on #80
Yeah, same on every zoom level. Note, we just have Singapore data in the db. Thanks!
<img width="657" alt="screen shot 2560-03-22 at 1 30 14 pm" src="https://cloud.githubusercontent.com/assets/2180254/24185065/c1170888-0f03-11e7-94aa-9f13b97df4b3.png">

[2017-03-23 01:49] Martinlck commented on #80
Any clues? Any solution? I installed it all over again and I still have the same problem. @nvkelso
I'm thinking there might be some missing relation and that's why the data is not being pulled, but I'm unable to identify which or why.

[2017-03-23 18:14] rmarianski commented on #80
Are you using the metro extract from here? https://mapzen.com/data/metro-extracts/metro/singapore/

[2017-03-23 23:49] nvkelso commented on #64
Similar was completed for Tilequeue in https://github.com/tilezen/tilequeue/pull/158.

[2017-03-24 01:16] mattscamp commented on #80
@rmarianski We tried both the PBF from that URL and restarting from scratch with another raw OSM extract, both with the same result. Both times were following the installation instructions exactly. We also tried the NYC PBF from the installation instructions as well.

[2017-03-24 01:45] mattscamp commented on #80
Not sure if this is helpful, but here is all the tables in the DB with row counts.
![screen shot 2560-03-24 at 8 42 37 am](https://cloud.githubusercontent.com/assets/2180254/24277169/013e748a-106e-11e7-9f39-fb1bafa65e03.png)

[2017-03-24 06:30] Martinlck commented on #80
Hello, we managed to get it to work, we were using ubuntu 16 and when we changed to ubuntu 14 it worked perfectly fine. Apparently there is something wrong with latest ubuntu.

[2017-03-24 06:31] #80 closed, assigned to nobody

[2017-03-24 10:05] Martinlck opened #84 "Server crashes when receiving little bit of load"
Hello again, so basically like the title says, is only me using the server but it crashes and throws errors, is there any suggestion on how to tune it up to make it more performant and resilient?

[2017-03-24 15:43] rmarianski commented on #80
Whoa, that's odd and a good find on your part. Thanks for posting the conclusion.

[2017-03-24 15:50] rmarianski commented on #84
What error do you see when it crashes? The first thing I would look at is to see if it's got enough memory. Otherwise, I'd suggest either trying to pre-generate what you expect to serve, or caching aggressively.

[2017-03-24 15:56] nvkelso commented on #80
I've updated https://github.com/tilezen/vector-datasource/wiki/Mapzen-Vector-Tile-Service with a note that Ubuntu 16 has issues, bolding the Ubuntu 14 recommendation.

[2017-03-27 06:22] Martinlck commented on #84
Hello, hope you guys had a great weekend.
This is the error we are getting:
Error on request:
Traceback (most recent call last):
  File "/home/ubuntu/env/lib/python2.7/site-packages/werkzeug/serving.py", line 209, in run_wsgi
    execute(self.server.app)
  File "/home/ubuntu/env/lib/python2.7/site-packages/werkzeug/serving.py", line 200, in execute
    write(data)
  File "/home/ubuntu/env/lib/pyth

[2017-03-27 10:25] zerebubuth commented on #80
I think this is because [our PPA](https://launchpad.net/~tilezen/+archive/ubuntu/ppa) only contains the trusty (14.04) package, and we didn't build a xenial (16.04) package. Therefore it'll fall back to the Ubuntu version of the package, which looks like it's too old to contain the [fixes](https://github.com/tilezen/osm2pgsql/tree/mz-integration) we made, which I think only made it into a released

[2017-03-27 10:42] zerebubuth commented on #84
We split our work up into several different service layers. The most important are:

* Tileserver running on `r3.xlarge` instances. These only process "on-demand" tiles which are not part of the "Tiles of Interest" set, which (currently) lists all the tiles which have been requested and we have copies of on S3.
* Tilequeue running on `c4.xlarge` instances. These process updates to the "Tiles of In

[2017-03-27 15:42] rmarianski commented on #84
We run tileserver through gunicorn, and set worker_processes to 150 for the r3.xlarge instances. With a smaller instance size, the number of worker processes running should be tweaked accordingly.

[2017-03-28 06:27] Martinlck commented on #84
Thank you very much for your response @rmarianski  @zerebubuth  I will replicate your settings and I will conduct some stress testing.
I'll close this issue and re-visit it later with some results from the tests.

[2017-03-28 06:27] #84 closed, assigned to nobody

[2017-03-28 10:26] zerebubuth commented on #84
Good luck!

We have a [gitter channel](https://gitter.im/tilezen/tilezen-chat), if you'd find it useful to chat.

[2017-04-13 03:21] ambientlight opened #86 "Caching and reformatting"
Thanks a lot for providing a tilezen stack. Love it.
I am curious about one thing: are you guys actually using this `tileserver(master)` code as it is in production?

I noticed that mapzen returns `.mvt` tiles quite fast. However when I run `tileserver` as it is with caching enabled, the cached `.mvt` will return pretty slow especially for mid-zoom levels that are largest in size. I looked into th

[2017-04-13 04:39] nvkelso commented on #86
Hi @ambientlight, thanks for checking out Tilezen and tileserver :) Generally speaking yes tileserver like you see it is used in prod, but off the latest tagged release [v1.4.0](https://github.com/tilezen/tileserver/releases/tag/v1.4.0), which is very close to master but master has a few more dev commits in it today since the release 20 days ago.

We pre-cache many tiles for Mapzen's production se

[2017-04-13 04:48] ambientlight commented on #86
@nvkelso Thanks! So you mean you are serving cached tiles statically on something like CloudFront-backed s3 buckets? And then if there are no such static tiles available -> you would then route it to tileserver to compute? This would that explain the difference in behavior.

[2017-04-13 05:57] nvkelso commented on #86
Yes. We write out to S3 and then have Fastly at the edge. If Fastly doesn’t
see the tile on S3, it routes the request to tileserver.

On Wed, Apr 12, 2017 at 9:48 PM, Taras Vozniuk <notifications@github.com>
wrote:

[2017-04-13 05:59] ambientlight commented on #86
Got it, thanks a lot!

[2017-04-13 13:09] rmarianski commented on #86
Logic that's no longer relevant. Should get cleaned up.

[2017-04-15 08:10] tomass opened #87 "Writing to cache/store after generation"
Thank you for the great software!

Do I understand correctly, that at this time it is not possible to write vtile generated by tileserver on demand to cache/store. So that if the same request from the client comes in after some time, same tile would not have to be generated again.

Looks like currently cache/store is only filled by running tilequeue script and generating specified tiles (and it is

[2017-04-15 11:47] iandees commented on #87
I took out the store code in #85 because Mapzen is trying to optimize its tile response time (by doing more work in tilequeue and relying less on tileserver).

We probably should have kept it in there and configured it to be off on our servers. I'll look at doing that next week, but for now if you want to take a look at that pull request to see what was taken out you can see how we implemented sto

[2017-04-15 17:15] rmarianski commented on #87
Like @iandees mentioned, We're planning on adding some kind of caching back in ourselves. Sounds like we might want to think about growing an abstraction for this, or maybe use the same `store` interface that exists but grow a redis implementation for it.

[2017-04-16 20:07] nvkelso commented on #87
@tomass In the meantime, I suggest using the tagged production release instead: https://github.com/tilezen/tileserver/releases/tag/v1.4.0.

[2017-04-16 20:14] tomass commented on #87
Thank you a lot for information and suggestions! It was really helpful!

[2017-04-16 20:14] #87 closed, assigned to nobody

[2017-05-12 10:43] jkjeon0329 opened #91 "Redis caching problem on last config file"
![redis_problem](https://cloud.githubusercontent.com/assets/27664210/25994945/06d44538-374b-11e7-8a4a-ece82d813639.png)

Anyone can help me?
Thanks

[code]

[2017-05-12 12:28] iandees commented on #91
@jkjeon0329 are you running tileserver locally?

[2017-05-12 12:49] jkjeon0329 commented on #91
Yes i'm running tileserver + tilequeue + vector-datasource locally

[2017-05-12 15:49] nvkelso commented on #91
@jkjeon0329 if you use the previous release do you have problems?

On Fri, May 12, 2017 at 5:49 AM, jkjeon0329 <notifications@github.com>
wrote:

[2017-05-12 15:51] iandees commented on #91
@jkjeon0329 as @nvkelso says, you'll probably get going quickly if you try to use the most recent tag of tileserver (`v2.0.0`).

I'm looking into the tileserver caching issue now.

[2017-05-12 19:04] rmarianski commented on #91
Can you try master again? Should be fixed by https://github.com/tilezen/tileserver/pull/92

[2017-05-18 14:58] rmarianski commented on #86
This just got cleaned up in master in https://github.com/tilezen/tileserver/pull/94.

[2017-05-18 14:58] #86 closed, assigned to rmarianski

[2017-05-30 10:49] #91 closed, assigned to nobody

[2017-06-12 18:52] #76 closed, assigned to nobody

[2017-06-13 02:13] pnorman commented on #51
Everything except tilequeue is now being pulled from pypi, so it's just it left. Should I open an issue on its repo?

[2017-06-13 05:33] nvkelso commented on #51
I've added https://github.com/tilezen/tilequeue/issues/220 – but we also have Dockerization in the mix via https://github.com/tilezen/tileserver/pull/93 so a few different planes in the air right now.

[2017-06-20 19:42] nvkelso commented on #70
@iandees Can this be closed?

[2017-06-20 20:00] musicformellons opened #103 "ImportError: No module named tileserver.cache"
I updated from tileserver v2.0.0 and tilequeue v1.7.0  to tileserver v2.1.0 and tilequeue v1.8.0 and now when trying to run the server I get:
[code]

I am using an ansible script which worked fine before. After changing versions I get the error. I can also not import tileserver when in Python.

[2017-06-20 20:04] musicformellons commented on #103
Mmh, can also not import tileserver when in Python.

[2017-06-20 20:12] iandees commented on #70
Yep!

[2017-06-20 20:12] #70 closed, assigned to iandees

[2017-06-21 08:55] zerebubuth commented on #103
After updating, did you run `python setup.py develop` again? The `tileserver.cache` file was added in the latest version but it sounds like it might still be finding the old version.

[2017-06-21 19:04] musicformellons commented on #103
It is something in the ansible script..., I can manually delete en setup tileserver and then it runs normally... Thanks.

[2017-06-21 19:04] #103 closed, assigned to nobody

[2017-06-28 16:13] rishabhjain30 opened #105 "custom layers in postgis"
I have custom layers stored in postgres with geometry. How can I use tileserver to serve mvt from these layers?
Also, Is addition of more layers dynamically supported?

[2017-06-29 13:14] rmarianski commented on #105
We don't have docs for this, but you can get started by looking at [queries.yaml](https://github.com/tilezen/vector-datasource/blob/e2ca30b2ed3865da1294f4a063a89653682f493d/queries.yaml). If you pick one of the layers that's already there and look through how it's configured and set up, you should be able to do the same to add in your own layer. You'll need to add a [jinja2 template file](https://

[2017-07-17 10:44] GloryPassarello opened #107 "ImportError: No module named meta.python"
Hello! Many thanks for all this works!
while I was installing tileserver, I run into this error:
`Traceback (most recent call last):
  File "tileserver/__init__.py", line 404, in <module>
    tile_server = create_tileserver_from_config(config)
  File "tileserver/__init__.py", line 375, in create_tileserver_from_config
    output_calc_mapping = make_output_calc_mapping(yaml_config)
  File "/home/gl

[2017-07-17 13:31] rmarianski commented on #107
That error suggests that you don't have the latest version of the vector-datasource repo installed. Can you verify that it is indeed the latest master and that it's picking up the location you expect? `python -c 'import vectordatasource; print vectordatasource.__file__'`

Alternatively, you can use the latest [tagged version](https://github.com/tilezen/vector-datasource/releases) and ensure that y

[2017-07-17 14:02] GloryPassarello commented on #107
Hello!
I had this output:

`Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: No module named vectordatasource`

What should I do to install it?
Many thanks

[2017-07-17 14:45] rmarianski commented on #107
[code]

[2017-07-17 15:00] GloryPassarello commented on #107
Hi again,

[2017-07-17 15:12] GloryPassarello commented on #107
Hi! Many thanks!
I have `vector-datasource==1.4.0` now but this does not solve the issue...

[2017-07-17 15:43] rmarianski commented on #107
And the matching versions as well? See [release notes](https://github.com/tilezen/vector-datasource/releases/tag/v1.4.0).

`tileserver v2.1.0 and tilequeue v1.8.0 and mapbox-vector-tile v1.2.0`

[2017-07-18 08:03] GloryPassarello commented on #107
Hi! I have ` tilequeue v1.8.0 and mapbox-vector-tile v1.2.0` now...
Running  ` python tileserver/__init__.py config.yaml`,
I got another error:
`Traceback (most recent call last):
  File "tileserver/__init__.py", line 4, in <module>
    from tilequeue.command import make_output_calc_mapping
ImportError: cannot import name make_output_calc_mapping`

[2017-07-18 16:12] nvkelso commented on #107
@GloryPassarello Do you have those tags checked out? I suspect you have master checked out instead in 1 or more of the repos.

[2017-07-18 16:13] nvkelso commented on #107
For instance, you'd need to checkout the latest release in this repo:

https://github.com/tilezen/tileserver/releases/tag/v2.1.0

[2017-07-18 22:24] rwrx opened #109 "psycopg2.ProgrammingError"
I tried to run tileserver on my machine by following this tutorial: https://github.com/tilezen/vector-datasource/wiki/Mapzen-Vector-Tile-Service . Everything was installed successfully but when I try to retrieve tile from this server I get an error `psycopg2.ProgrammingError`: `ProgrammingError: function jsonb_build_object(unknown, unknown, unknown, bigint, unknown, unknown, unknown, real) does no

[2017-07-18 22:41] nvkelso commented on #109
@rwrx Reporting the error here is good. Rob will have a look once he's back in the office (probably Wednesday NYC time).

[2017-07-19 13:45] rmarianski commented on #107
Based on that error it looks like you have tileserver master checked out. You'll want 2.1.0 of tileserver.

[2017-07-19 13:59] rmarianski commented on #109
We started requiring later versions of postgresql. You'll need at least 9.5, and we're running 9.6 on servers ourselves.

This is a recent change and we haven't updated the docs yet. I made an issue for that: https://github.com/tilezen/vector-datasource/issues/1319

If you can't update postgresql, I'd suggest running off the latest tagged versions which you can find here: https://github.com/tileze

[2017-07-23 20:59] rwrx commented on #109
Thank you a lot for your answer. I have installed postgresql 9.6 and postgis 2.3 as is written here https://github.com/tilezen/vector-datasource/wiki/Mapzen-Vector-Tile-Service/_compare/d3ec978d8a61c13760688fdfe312859453f94051...8fe772e1f7eedbf5b159e5da0f508a29ac8ab2fe . But now I get another error when trying to retrieve tiles from tileserver. I have followed again steps from this tutorial https:

[2017-07-23 21:02] nvkelso commented on #109
@rwrx We'll have a look Monday. In the meantime, the latest tagged releases in each repo are probably your best bet.

[2017-07-24 20:45] rmarianski commented on #109
I tried to reproduce in a clean environment, but it worked for me. Based on your error, it looks like the database is not in a valid state. Can you try dropping your database, creating it again and re-importing the data?

[2017-07-24 21:08] rwrx commented on #109
Thank you. Did you try also master branches, New York extract and postgresql 9.6 and postgis 2.3? I have tried it several times and dropped databases.

[2017-07-24 21:55] rwrx commented on #109
When I follow that tutorial and checkout all that latest stable versions as are written in tutorial I get error `TypeError: process_coord_no_format() takes exactly 5 arguments (4 given)`. Is it possible for you to send me install instructions which are working for you? Or at least send parts where your instructions differ from tutorial? Do you also use Ubuntu 14.04 with updated software?

[2017-07-25 14:47] rmarianski commented on #109
I just tested it with a different extract, master branches and postgresql 9.5 and postgis 2.2 on ubuntu 16.04. Locally I develop with postgresql 9.6 and postgis 2.3 on ubuntu 14.04. The package versions you have installed look fine to me.

This time the error looks like it's a version mismatch between tileserver and tilequeue. If you were switching branches, I bet it's picking up an unexpected ins

[2017-07-25 19:20] rwrx commented on #109
Thank you a lot for your patience.

Ok, I have done clean install on clean Ubuntu 14.04 with postgresql 9.6 and postgis 2.3 and on master branches for vector-datasource, tileserver and tilequeue. Now I don't have time to import whole planet so I imported this extract http://download.geofabrik.de/europe/slovakia.html into postgresql database. I have also followed all tutorial and another change I h

[2017-07-25 19:40] nvkelso commented on #109
@rwrx We strongly recommend using latest tagged releases in the repos for production work like this. Are those not working for you? I've listed them below for reference.

- https://github.com/tilezen/vector-datasource/releases/tag/v1.4.0-docs1
- https://github.com/mapzen/tileserver/releases/tag/v2.1.0
- https://github.com/mapzen/tilequeue/releases/tag/v1.8.0
- https://pypi.python.org/pypi/mapbox-v

[2017-07-25 19:54] nvkelso commented on #109
@rwrx If you require any additional support please review the Premium support section at https://mapzen.com/pricing/.

[2017-07-25 20:26] rwrx commented on #109
Thank you. I have tried it again from scratch with dropping database and cloning all repositories and checkouting tags as you wrote and I am again getting error as I wrote previously `TypeError: process_coord_no_format() takes exactly 5 arguments (4 given)`. Here is screenshot:

![crash3](https://user-images.githubusercontent.com/2378743/28592631-f1379936-7189-11e7-9c5c-db668811e621.png)

It seems

[2017-07-25 20:52] rmarianski commented on #109
Looks like that should have read `tilequeue 1.9.0` instead, but you tried that? We're running this version combination in production currently:

[code]

[2017-07-25 20:56] rwrx commented on #109
I tried tilequeue 1.9.0 but I get same error as I wrote. But now I have done checkout to master on all repositories and rerun all python configuration and it is working! :) I don't know why but I have done this previously and back then it wasn't working.

[2017-07-25 21:04] nvkelso commented on #109
Great to hear! Good luck with the per-country builds :)

[2017-07-25 21:04] #109 closed, assigned to rmarianski

[2017-07-31 19:50] rwrx opened #111 "Performance question"
I have successfully deployed tileserver on my local machine for creating mbtiles locally. On that machine I have Samsung 960 PRO 2 TB sdd, 32 GB of RAM and Intel i5 6600 cpu. I have also currently imported Europe extract into postgresql database and tile requests are really slow on this machine. I have didn't enabled caching as it caused some problems when I enabled it. I was thinking about upgrad

[2017-07-31 19:59] pnorman commented on #111
Performance characteristics are likely to be very similar to other examples of tile rendering, and a lot has been written about that. The important points are

- caching is key
- suitable partial indexes generally help lower zoom performance
- fast drives are essential
- RAM is needed for RAM cache
- the workload parallizes very well

Given the rest of your system specifications, you are probably

[2017-07-31 21:00] nvkelso commented on #111
For Mapzen's hosted SaaS version of Tilezen we use Amazon's AWS and host the data in RDS and then point multiple EC2 tilequeue workers at those RDS databases with jobs in an SQS queue. If there's any true-ism for scaling it's that you can scale up until some new bounds are hit ;)

(There are public Chef repos for getting Tilezen to work in AWS if that's your cup of tea.)

[2017-07-31 21:01] #111 closed, assigned to nobody

[2017-07-31 21:13] rwrx commented on #111
Thank you a lot for your answers.

[2017-08-22 13:09] eclipse1985 opened #113 "Tileserver is not accepting remote connections"
Hi,

I installed successfully the tileserver, and it handles request correctly, but only if I try from local machine (ex. curl http://localhost:8080/all/16/19293/24641.json). If I try from a remote machine (ex. http://[remoteip]:8080/all/16/19293/24641.json, the tileserver doesn't accept remote connection.
All stuffs related to firewall and ports are properly configured.
There is some parameter to

[2017-08-22 13:31] rmarianski commented on #113
In config.yaml, set the server host to 0.0.0.0.

Note that in a production environment you'll want to run it through a different server, like gunicorn.

[2017-08-22 13:31] #113 closed, assigned to nobody

[2017-09-06 20:07] radumas commented on #49
FYI I've added this to the Vector Source [Install Documentation](https://github.com/tilezen/vector-datasource/wiki/Mapzen-Vector-Tile-Service#prepare-a-virtualenv)

[2017-09-07 00:03] nvkelso commented on #49
@radumas thank you!

[2017-09-07 17:18] radumas commented on #105
Hi @rishabhjain30, we're doing this as well. Starting with [our city's streets centerline layer](https://www1.toronto.ca/wps/portal/contentonly?vgnextoid=9acb5f9cd70bb210VgnVCM1000003dd60f89RCRD). We'll update this thread with our discoveries in the process.

[2017-09-07 19:20] radumas opened #114 "Error with python setup.py develop, install directory is hard-coded (or sudo is required)"
Running `python setup.py develop` produces the following error:
[code]
Does this not defeat the purpose of using a virtual environment? Should sudo be required?

[2017-09-07 19:36] radumas commented on #114
Sorry, this was actually our mistake.

[2017-09-07 19:36] #114 closed, assigned to nobody

[2017-09-07 20:07] nvkelso commented on #105
We also recommend checking out the new PostGIS functionality to export MVT vector tiles directly without (also) making the extra Postgres > Tileserver hop. (Still may make sense for you to use Tilezen stack, but just FYI):

- https://postgis.net/docs/manual-dev/ST_AsMVT.html

[2017-09-07 20:14] rmarianski commented on #114
Looks like the virtualenv wasn't activated first to me, but glad you got it working regardless.

[2017-09-07 20:24] radumas commented on #105
Woah. Very cool feature from PostGIS.

So we're trying to modify the configs to work with our streets layer based on the `ne-roads` layer. I'm a little puzzled about some of the contents of [`vector-datasource/queries.yaml`](https://github.com/tilezen/vector-datasource/blob/master/queries.yaml). Specifically the following section (commented out lines were me):
[code]
First of all I couldn't find a

[2017-09-07 20:27] radumas commented on #114
yeah, there was a series of mistakes. First I moved the virtualenv and my colleague was getting errors, then I recreated it but then he hadn't activated the new one, nor did he have write permissions...

We got it figured out though :innocent:

[2017-09-07 20:45] nvkelso commented on #105
The simple answer is the transforms are optional. Try it without the transforms, and then try adding a few back in. I'll comment about a few that might be interesting to you:

- `vectordatasource.transform.tags_name_i18n` - allows / normalizes for English and French names on the same road feature.
- `vectordatasource.transform.parse_layer_as_float` - this is OSM specific to turn a string value int

[2017-09-08 14:53] rmarianski commented on #105
The background on the queries is that they are now organized by table rather than by layer, and we're in a moment of transition now where things will likely be moving around a bit.

Depending on what you're doing, you might find it easier to use the [latest release as of this time](https://github.com/tilezen/vector-datasource/releases/tag/v1.4.0) and the corresponding versions, which have the quer

[2017-09-13 21:53] radumas opened #115 "ImportError: cannot import name DataFetcher in v2.1.0, wrong tilequeue version in requirements"
I have `tileserver v2.1.0` checked out and correspondingly `tilequeue v1.8.0` and `vector-datasource v1.4.0` checked out. I created a new python virtualenv, installed the requirements from `tileserver`, and then went to  `tilequeue v1.8.0` and `vector-datasource v1.4.0` and ran `python setup.py develop` (btw, should I not be passing a `develop` argument if using numbered releases?).

When I run  `

[2017-09-13 22:08] radumas commented on #115
This would also be an issue if someone followed the current version of the [vector-datasource install guide](https://github.com/tilezen/vector-datasource/wiki/Mapzen-Vector-Tile-Service#installation-guide) using the checkout versions listed there.

[2017-09-13 22:16] radumas commented on #105
Thanks @rmarianski, I'll come back to this thread when I start tweaking things.

[2017-09-14 14:47] rmarianski commented on #115
Yea, good point, those do have master set for those releases. Those instructions are usually tested just with master, and I take the steps you describe above when switching versions. We should probably at a minimum update the documentation to call this out, and ensure that going forward releases have specific versions set in their requirements files.

Instead of having requirements files in each r

[2017-09-14 19:43] radumas commented on #105
We've started working on setting up map in [this repository](https://github.com/CityofToronto/bdit_interactive_streets_tiles) (definitely still a work in progress). Our version of the installation docs is in [tilezen/README.md](https://github.com/CityofToronto/bdit_interactive_streets_tiles/tree/master/tilezen)

Still working on styling and interactivity.

[2017-09-17 07:04] pnorman commented on #51
Anything I can do to help on this?

[2017-09-18 20:33] nvkelso commented on #51
@rmarianski can you take a fresh look at this, please?

[2017-09-18 21:25] rmarianski commented on #51
Apologies for this taking so long. I'll go ahead and push over the latest vector-datasource, tileserver, and tilequeue releases to pypi tomorrow morning.

[2017-09-19 15:25] rmarianski commented on #51
`vector-datasource`, `tileserver`, and `tilequeue` have been published to pypi.

[2017-09-19 18:13] nvkelso opened #116 "Cat readme into setup.py long description"
Like we do here for tilequeue:

- https://github.com/tilezen/tilequeue/blob/master/setup.py#L12
- `long_description=open('README.md').read(),`

[2017-09-19 18:15] nvkelso commented on #116
Also take a pass for all **metadata** and `description` (match to PyPi).

[2017-09-19 18:17] nvkelso commented on #116
Like:

`Development Status :: 5 - Production/Stable`

[2017-09-19 18:19] nvkelso commented on #116
Update keywords:

`keywords='was queue s3 sqs tile map',`

And those should generally match the topics from Github (which we should add to all repos).

[2017-09-19 18:22] nvkelso commented on #116
Use http://pandoc.org to convert Markdown to RST for better description

[2017-09-19 18:43] radumas commented on #115
So `tilequeue` seems to behave happily as a dependency of `vector-datasource` since AFAIK it doesn't require configuration. Would it be possible to configure `vector-datasource`'s setup (or a version of it) to add `tileserver` as a git submodule, so that the `tileserver` config is easily accessible to configure (or otherwise put the `tileserver/__init__.py` and  `config.yaml` in an accessible loca

[2017-09-20 19:24] #51 closed, assigned to rmarianski

[2017-10-06 08:29] alex-maxime opened #117 "pip intall error"
Hello team :)

I have an error when i am trying to install tile server,
[code]

can you help me to resolve this ?.

Thanks to you :)

[2017-10-06 13:37] rmarianski commented on #117
Whoops, we were missing a requirement. I just pushed over a fix with bdc6ac0. Can you try again?

[2017-10-06 13:42] alex-maxime commented on #117
Good, it work now, thank you

[2017-10-06 13:42] #117 closed, assigned to rmarianski

[2017-10-06 15:12] #58 closed, assigned to rmarianski

[2017-10-19 14:59] gabefair commented on #115
Thanks @radumas for posting this fix. I was stuck after following the install guide.

[2017-10-19 17:13] zerebubuth commented on #115
I think that would be useful for people who want the easiest route to setting everything up.

We're releasing a bunch of [packages to PyPI](https://pypi.python.org/pypi/tilequeue) now. Would it make sense to use those for released versions, so that we didn't need git versions in `requirements.txt`? In other words, that we'd specify version constraints in `setup.py` to avoid things like `tileserver

[2017-10-19 18:04] rmarianski commented on #115
Which is where we have the problems anyway right? :)

We deploy off branches too, so we would need a workflow for that anyway.

[2017-10-19 19:18] radumas commented on #115
I think PyPi makes even more sense for a simple, stable deployment.

You all can figure out what you need for your development :wink:

[2017-10-22 03:09] pnorman commented on #115
Yes, I think this is the best way. I thought it was possible now to `pip install tileserver`?

[2017-10-22 16:48] pnorman opened #119 "pip install fails"
[code]

This is in a clean virtualenv

[2017-10-22 17:28] pnorman commented on #119
Looking at the .tar.gz from pypi, it doesn't have the VERSION file in it.

[2017-10-23 16:06] nvkelso commented on #115
@pnorman Filed related issues this weekend that we're working on. Thanks everyone for the feedback!

[2017-10-23 21:38] rmarianski commented on #119
This should work now with tileserver 2.1.1.

[2017-10-23 21:38] #119 closed, assigned to rmarianski

[2017-10-29 05:46] pnorman opened #123 "Provide binary via pip."
When installing tileserver with `pip` (or similar tools) you get a binary for tilequeue, but not tileserver.

I believe [`entry_points`](https://github.com/tilezen/tilequeue/blob/master/setup.py#L62-L66) needs to be specified for tileserver.

I've not made use of entry_points before, but from my reading there needs to be a `'tileserver = tileserver.__init__:something'` in a dict.

[2017-10-29 05:46] pnorman commented on #123
Note: The workaround for this is something like `python ve/lib/python2.7/site-packages/tileserver/__init__.py config.yaml`

[2017-11-19 20:56] pnorman commented on #123
Confirmed working

[2017-11-19 20:56] #123 closed, assigned to rmarianski

[2017-11-20 21:42] gabefair commented on #107
@GloryPassarello  did installing v2.1.0 of tileserver fix your issue?

[2018-01-14 09:18] nafis042 opened #127 "AssertionError: Missing min_zoom in layer water"
I installed vector-datasource as per instruction. Then I import data into database. after that I installed tileserver and ran the server. no matter what I requests it always shows error on different layers saying that missing min_zoom in layer. How can I solve this?
![image](https://user-images.githubusercontent.com/26213218/34914341-14546802-f93b-11e7-8948-f4bbd0af6a2d.png)

[2018-01-14 17:49] #127 closed, assigned to nobody

[2018-01-17 18:20] vomc opened #128 "Not seeing any output through tileserver appears to be running. Any advice?"
Hi,

I am fairly new to mapping software and am trying to set up the tileserver on AWS so that we can host our own tiles. I have followed the installation instructions on how to build everything from source that are listed on the repo. The tileserver appears to work but I am not able to access it.

I can confirm that my EC2 instance is accessible to the public. I created a node.js script that just

[2018-01-17 19:24] elwin-jacellc commented on #128
Hi, we recently stood up our own stack. You should change your
`host: localhost` to `host: 0.0.0.0`

Then try to view `http://<replace with aws instance hostname>:8080/buildings/16/19293/24641.json`

[2018-01-17 19:31] vomc commented on #128
Thank you! That solved it

[2018-01-17 19:31] #128 closed, assigned to nobody

[2018-01-31 10:48] peldhose opened #129 "My Server seems very slow in serving tiles,pls explain how to add tilequeue for buffering"
Hi ,
Thank a lot for providing such an awesome opensource ... you guys are awesome ..
I configured everything as per tutorial,but my server seems very slow in delivering tiles.Pls help us to make it smooth..

[2018-02-01 10:45] peldhose commented on #129
Can somebody pls help me to resolve this issue,
when i run server (2TB SSD + m4.Large) , response is very slow and its stuck normally ,also am getting this error too ..

Error on request:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/werkzeug/serving.py", line 209, in run_wsgi
    execute(self.server.app)
  File "/usr/local/lib/python2.7/dist-packages/werkzeug/s

[2018-02-02 04:28] rmarianski commented on #129
Some tiles are expected to be slow, and it tends to be zoom level and area dependent. As you suggested in the issue title, you can look into pre-generating tiles to help, which is what using tilequeue will allow you to do. You can also cache tiles for extended periods of time. To get started with tilequeue, I'd suggest going through the README and the sample configuration. Generally you want to fi

[2018-02-02 04:28] #129 closed, assigned to nobody

[2018-02-02 12:50] peldhose commented on #129
hi @rmarianski , thankyou for reply.
actually i have gone through README and conf.yaml.sample a lot but coulnd't find any info to properly run tilequeue and cache to manage this issues.Saw buffer {} but no more samples to get through.It will be greatfull if you can give me a sample of tilequeue running command.
also redis is installed on server and uncommented redis option in config, but doesnt se

[2018-02-02 16:57] rmarianski commented on #129
I'm guessing the confusion is coming from the fact that tilequeue doesn't generate artifacts that tileserver can directly consume. In our production environment, tileserver was only meant to handle requests for tiles that weren't pre-generated. In other words, if the tile was generated, it wouldn't even see the request.
There was a separate component that was responsible for satisfying those reque

[2018-02-02 17:32] rmarianski commented on #129
By the way, in case you happen to be interested and haven't seen this: https://mapzen.com/blog/long-term-support-mapzen-maps/

[2018-02-05 05:40] peldhose commented on #129
Hey ... very much thankyou for the info ... i was looking for the exact info..

[2018-03-12 18:58] nvkelso commented on #32
Closing as documented / no recent activity.

[2018-03-12 18:58] #32 closed, assigned to nobody

[2018-03-12 18:59] nvkelso commented on #44
Closing for inactivity.

[2018-03-12 18:59] #44 closed, assigned to nobody

[2018-03-12 19:00] nvkelso commented on #46
Closing as architecture changed (rely on Tapalcatl or Xonacatl instead).

See also:

- https://github.com/tilezen/tapalcatl-py/issues/10

[2018-03-12 19:00] #46 closed, assigned to nobody

[2018-03-12 19:01] nvkelso commented on #49
Closing as documented.

[2018-03-12 19:01] #49 closed, assigned to nobody

[2018-03-12 19:01] nvkelso commented on #107
Closing for inactivity.

[2018-03-12 19:01] #107 closed, assigned to nobody

[2018-03-12 19:02] nvkelso commented on #115
Closing for inactivity.

[2018-03-12 19:02] #115 closed, assigned to zerebubuth

[2018-03-12 19:03] nvkelso commented on #105
Closing for inactivity.

[2018-03-12 19:03] #105 closed, assigned to nobody

[2018-03-12 19:03] nvkelso commented on #64
Replaced with: https://github.com/tilezen/tapalcatl-py/issues/20

[2018-03-12 19:04] #64 closed, assigned to rmarianski

[2018-03-12 19:04] nvkelso commented on #39
Closing for inactivity.

[2018-03-12 19:04] #39 closed, assigned to nobody

[2018-03-12 19:04] nvkelso commented on #37
Closing as tilequeue is better for this.

[2018-03-12 19:04] #37 closed, assigned to nobody

[2018-07-05 13:56] gregers666 opened #130 "CORS problem due to missing min_zoom in layer water"
Hello,

in case of error situation:

env/lib/python2.7/site-packages/tilequeue/process.py

min_zoom = output_props.get('min_zoom')
assert min_zoom is not None, \
                'Missing min_zoom in layer %s' % layer_name

the CORS „Access-Control-Allow-Origin” header is not generated...

Sincerely
Gregers

[2018-07-05 18:20] nvkelso commented on #130
That's odd! Can you give an example tile coordinate (preferably with a public URL) for debugging, please? We're also happy to accept PRs :)

[2018-07-06 09:13] gregers666 commented on #130
Sorry, but I'm firewalled. It was tileserver with imported https://download.geofabrik.de/europe/poland-latest.osm.pbf  tested using nginx, apache2 to display the map (all sitting on the same machine).
As I see the problem is when assertion happens, there is an error generated, so the function  that generates the header is omitted.
Commenting out quoted lines masks the problem allowing tileserver t

[2018-07-06 10:36] zerebubuth commented on #130
If I'm understanding `werkzeug` correctly, it looks like it [might be difficult to add headers to its exceptions](https://github.com/pallets/werkzeug/blob/d129d17066768238139b8f8a5d667d9a4f4d68db/werkzeug/exceptions.py#L128-L130), unfortunately. We used to run `tileserver` behind a proxy, would it be possible for you to do the same? That way you can ensure that CORS headers are present on all the

[2018-09-03 18:50] rwrx opened #131 "Question about scaling"
Hello, I am not sure if this is a correct place, but I just have question regarding tileserver, tilepacks and vector datasource. I have a setup on Ubuntu 14.04 of vector datasource for creating mbtiles files. I had it working on desktop computer with 4-core CPU with 16 GB of DDR3. Now I have updated computer to 12-core CPU with 32 GB of DDR4. It is on NVMe SSD Samsung 960 PRO 2 TB. Creating mbtile

[2018-09-04 10:18] zerebubuth commented on #131
Hi! Thanks for getting in touch.

It certainly sounds like the second machine should be considerably faster, but there are also a lot of potential bottlenecks that could be slowing it down.

Although the process of generating a single tile with `tileserver` / `tilequeue` is single-threaded, generating large numbers of tiles should see a good parallel speed-up. This means that you might need to req

[2018-09-06 13:18] rwrx commented on #131
Thank you a lot for all of your suggestions. I am still finding why it is even slower. I suspect that I have wrongly set PostgreSQL config file so it does not fully utilize all the cores. Do you know some hints how to setup PostgreSQL to utilize many CPU cores not just 4? Also that new CPU is Threadripper 1920X which has two CPU dies glued together, so maybe PostgreSQL cannot utilize this properly

[2018-09-07 15:31] zerebubuth commented on #131
If you are running the most up to date version of PostgreSQL (10), then you can use the [`max_worker_processes` and `max_parallel_workers` settings](https://www.postgresql.org/docs/current/static/runtime-config-resource.html#RUNTIME-CONFIG-RESOURCE-ASYNC-BEHAVIOR) to control the concurrency level. In previous versions, I think it just used one thread per connection. However, since tileserver suppo

[2018-10-17 23:13] rwrx commented on #131
Hi @zerebubuth I am sorry for this very late answer. I was trying anything. For requesting tiles I am using tilezen tilepacks modified to download tiles for countries defined in geojson. I have tried to tune PosgreSQL config file using this tool - https://pgtune.leopard.in.ua, I have entered there system specifications. I have tried several other CPUs best results was using Intel i7-8700K which ha

[2018-10-18 11:19] zerebubuth commented on #131
Hi! No worries.

The behaviour you describe is not what I would expect at all! I would expect the TR 1920X to be almost twice as fast as the i7-8700K. It certainly sounds like the rendering process is being limited to a single core.

Would you be able to share a screenshot of `top` on that machine during a rendering run, please? I suspect we might see `tileserver` maxing out at 100% on a single co

[2018-10-19 08:06] rwrx commented on #131
Hi, ok, I am attaching screenshots. This is after 3 minutes of start of tileserver and tilepacks. Also both are on the same pc.

top:
![top](https://user-images.githubusercontent.com/2378743/47205539-8083cd80-d386-11e8-9abc-3b1955f7e233.jpg)

glances:
![glances](https://user-images.githubusercontent.com/2378743/47205534-7eba0a00-d386-11e8-96e9-5b3d790893a8.jpg)

[2018-10-19 16:05] zerebubuth commented on #131
Thanks for that! It looks like the tileserver process is only using about 3 cores out of the available 12 - is that right?

Would you be able to try again, but this time run `gunicorn -w 12 "tileserver:wsgi_server('config.yaml')"` rather than `python tileserver/__init__.py config.yaml`? If you run tilepacks with a concurrency level of 12 against that server, then hopefully we'll see that all the c

[2018-10-19 21:23] rwrx commented on #131
Great! Thank you a lot! It just worked. Now all 12 cores are maxed to 100%. This should be a default way how to run tileserver described in vectordatasource tutorial. I have somewhere read about gunicorn, but I didn't know how to run it.

[2018-10-19 21:30] nvkelso commented on #131
Please submit a PR or edit the wiki :)

On Fri, Oct 19, 2018 at 17:23 rwrx <notifications@github.com> wrote:

[2018-10-21 13:31] rwrx commented on #131
Ok, I have created PR with added gunicorn into dependencies and also edited the wiki.

[2018-10-21 13:31] #131 closed, assigned to nobody

[2018-10-21 13:32] rwrx commented on #131
@zerebubuth thank you a lot for your help and assistance :).

[2020-09-15 15:24] cyfugr opened #133 "syntax error"
i am getting an syntax error when i run tileserver:

<img width="1388" alt="Screenshot 2020-09-15 at 20 27 43" src="https://user-images.githubusercontent.com/13256398/93244161-f3c03500-f791-11ea-9e50-7e4af41405c6.png">

[2020-10-05 15:40] rmarianski commented on #133
This looks like a newer version of a package getting included. Did you install with the [requirements](https://github.com/tilezen/tileserver/blob/master/requirements.txt) file?